@import url("https://fonts.googleapis.com/css?family=Russo+One");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #8d8d8d;
  font-family: Russo One, sans-serif;
}

.App {
  min-height: 100vh;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
